$colors: (
	'Pink': #ea2560,
	'Blue': #5d17eb,
	'White': white,
);

header {
	position: sticky;
	top: 0px;
	z-index: 0;
}

.Container{
	&.navBar {
		display: flex;
		justify-content: flex-start;
		list-style: none;
		align-items: center;
		padding: 12px;
		flex-direction: row;
		
		.navbar-links {
			display: flex;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				padding: 0 32px;
				a{
					display: block;
				}
			}
		}
	}
}

.toggleButton{
	position: absolute;
	top: 1.6rem;
	right: 2rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	.bar{
		height: 3px;
		width: 80%;
		background-color: #000;
		border-radius: 15px;
	}
}

a {
	font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	list-style: none;
	color: #ea2560;
}

@each $color, $key in $colors {
	.navLink#{$color} {
		color: #{$key};
		opacity: 62%;
		&:hover {
			color: #{$key};
			opacity: 100%;
		}
	}
	.active {
		opacity: 100%;
	}
}

.button {
	padding: 13px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #f5c20e;
	border-radius: 6px;
	color: white;
}
.button:visited {
	color: white;
}

.logo {
	width: 30px;
	margin: 0 32px;
}

.selector {
	width: 6px;
	height: 6px;
	background: #ea2560;
	border-radius: 50%;
	position: absolute;
	bottom: -1px;
}

.selector2 {
	width: 6px;
	height: 6px;
	background: #5d17eb;
	border-radius: 50%;
	position: absolute;
	bottom: -1px;
}
