$colors: ('Pink': #EA2560, 'Blue': #5D17EB, 'White':white);

header {
	position: sticky;
	top: 0px;
}

.navBar {
	display: flex;
	background-color: white;
	justify-content: flex-start;
	list-style: none;
	align-items: center;

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-left: 40px;
			position: relative;
		}
}

.navbarResponsive {
	display: none;
}

a {
	font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	list-style: none;
	color: rgb(241, 106, 129);
}

@each $color, $key in $colors {
	.navLink#{$color}{
		color:#{$key};
		opacity: 62%;
		&:hover {
			color: #{$key};
			opacity: 100%;
		}
	}
	.active{
		opacity: 100%;
		
	}
}

.button {
	padding: 13px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #f5c20e;
	border-radius: 6px;
	color: white;
}
.button:visited {
	color: white;
}

.buttonContactoResponsive {
	display: none !important;
}

.logo {
	width: 75px;
}

.selector {
	width: 6px;
	height: 6px;
	background:#EA2560;
	border-radius: 50%;
	margin-top: 7px;
	position: absolute;
	bottom: -10px;
}

.selector2 {
	width: 6px;
	height: 6px;
	background: #5D17EB;
	border-radius: 50%;
	margin-top: 7px;
	position: absolute;
	bottom: -10px;
}
