header {
	position: sticky;
	top: 0px;
}

.navBar {
	display: flex;
	background-color: white;
	justify-content: flex-start;
	list-style: none;
	align-items: center;
}

a {
	font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	list-style: none;
	color: rgb(241, 106, 129);
}
a:hover {
	color: #EA2560;
}
a:visited {
	color: #EA2560;
}

.buttonMenu {
	margin-left: 40px;
}

.buttonContacto {
	margin-left: 40px;
	padding: 13px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #f5c20e;
	border-radius: 6px;
	color: white;
}
.buttonContacto:visited {
	color: white;
}

.logo {
	width: 75px;
}

.selector {
	width: 6px;
	height: 6px;
	background:#EA2560;
	border-radius: 50%;
	position: absolute;
	margin-top: 7px;
	left: 406px;
}
