.homeSection2Background{
    background-color:rgb(224, 195, 28);
    display: flex;
    justify-content:space-between;
}

.homeSection2PhotoAll{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 120px;
}

.homeSection2Logo{
    margin-bottom: 50px;
}

.homeSection2TextLogo{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: bold;
    line-height: 1.5;
}

.homeSection2Photo{
    width: 450px;
    margin: 120px;
}