@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fontWhite {
  color: #FFFFFFD9; }

.fontBlack {
  color: #1A1A1A; }

.fontPink {
  color: #EA2560; }

.fontRegular {
  font-weight: 400 !important; }

.fontSemiBold {
  font-weight: 600 !important; }

.fontBold {
  font-weight: 700 !important; }

.font14 {
  font-size: 14px !important; }

.fontOS {
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21,79px; }

.Container {
  width: 1440px;
  max-height: 664px; }

.bgWhite {
  background-color: #fff !important; }

.bgRed {
  background-color: #d42428 !important; }

.bgPink {
  background-color: #ea2560 !important; }

.bgPinkInstagram {
  background-color: #e53e70 !important; }

.bgOrange {
  background-color: #f5c20e !important; }

.bgBlue {
  background-color: #0349aa !important; }

.bgBlueFacebook {
  background-color: #3a5a98 !important; }

header {
  position: fixed; }

.navBar {
  display: flex;
  background-color: white;
  justify-content: flex-start;
  list-style: none;
  align-items: center; }

a {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  color: #f16a81; }

a:hover {
  color: #ff2247; }

a:visited {
  color: #ff2247; }

.buttonMenu {
  margin-left: 40px; }

.buttonContacto {
  margin-left: 40px;
  padding: 13px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: orange;
  border-radius: 6px;
  color: white; }

.buttonContacto:visited {
  color: white; }

.logo {
  width: 75px; }

.homeBodyBackground {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center; }

.homeHumanaLogoAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 100px; }

.homeHumanaLogo {
  margin-bottom: 50px; }

.homeTextHumanaLogo {
  font-family: 'Opens Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 21.79px; }

.homeButtonNuestrasAsesorias {
  padding: 13px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: orange;
  border-radius: 6px;
  color: white; }

.homePhotoMain {
  width: 600px;
  margin: 100px; }

.homeSection {
  display: flex;
  justify-content: space-between; }

.homeSectionPhoto {
  width: 450px;
  margin: 120px; }

.homeSectionLogoAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 120px; }

.homeSectionTitle {
  margin-bottom: 50px; }

.homeSectionText {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px; }

.homeSectionCategories {
  padding: 108px 0;
  display: flex;
  flex-wrap: wrap; }
  .homeSectionCategories .categoryContainer {
    padding-top: 2rem;
    padding-right: 139px;
    display: block;
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px; }

.homeCenter {
  margin-left: 0;
  align-items: center; }
  .homeCenter a {
    margin-top: 52px; }

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24, 51px; }

.ellipse {
  width: 72px;
  height: 72px;
  background: #f5c20e;
  border-radius: 50%;
  margin-bottom: 13px; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0; }
  .footer .title a {
    margin: 0 26.5px; }

.dBlock {
  margin-top: 30px;
  display: block;
  width: 100%;
  text-align: center; }

.socialMedia {
  display: flex; }
  .socialMedia .socialIcon {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 16.5px 0 16.5px; }
    .socialMedia .socialIcon i {
      font-size: 22px;
      color: white; }

.rights {
  height: 46px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .rights a {
    color: blue; }
